<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <% if product.reviewed? %>
      <h6 class="text-left avarage-rating">Average Rating: <%= product.average_rating.round(2) %></h6>
    <% else %>
      <h6 class="text-left avarage-rating">Not yet reviewed.</h6>
    <% end %>
    <%= product.description %>
  </p>
  <footer class="actions">
    <% if product.quantity == 0 %>
    <% else %>
      <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', method: :put do %>
        <%= fa_icon "shopping-cart", text: 'Add' %>
      <% end %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>

  <aside class="availability-price">
    <% if product.quantity == 0 %>
      <span class="sold-out"> SOLD OUT </span>
    <% end %>
    <span class="item-price"><%= humanized_money_with_symbol product.price %></span>
  </aside>
</article>
